*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
}
header{
    max-height: 1080px;
    max-width: 1920px;
    position: relative;
    background-color: black;
}

.nav{
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logo{
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.link ul{
    display: flex;
}

.link ul li{
    list-style-type: none;
    justify-content: space-between;
    padding-right: 40px;
}

.link ul li a{
    text-decoration: none;
    color: white;
}

.items{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    margin-left: 60px;
    margin-right: 90px;
}

.game {
    position: relative;
    width: 240px;
    cursor: pointer;
}

.image {
    opacity: 1;
    display: block;
    width: 240px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.game:hover .image {
    opacity: 0.3;
}

.game:hover .middle {
    opacity: 1;
}

.button {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 15px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 50px 90px;
}

footer h3{
    padding-bottom: 15px;
    font-size: 1.3em;
}

.column-2 ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.column-3 ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.column-4 ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}

/*-----contact page style--------*/
.form-text{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: black;
}

.form-text h3{
    font-size: 3em;
}

.contact-form form{
    text-align: center;
}

.field{
    width: 400px;
    height: 40px;
    margin-top: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.textarea{
    width: 400px;
    height: 120px;
    margin-top: 30px;
    resize: none;
    border: 1px solid black;
    border-radius: 15px;
}

.submit-button{
    width: 400px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    cursor:pointer;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:black;
}

.submit-button:hover{
    background-color: green;
    color: white;
    border: 1px solid green;
}